:root {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 300ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background-color: #6649b8;
}

main { 
    padding: 1.618rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-item:last-child{
    justify-self: flex-end;
    margin-top: auto;
}

.nav-item {
    width: 100%;
    text-align: center;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    font-size: 1.5rem;
}

.fas {
    color: #eba134;
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
}

.link-text {
    font-size: .7rem;
    margin: .5rem 0 0 0;
    padding: 0;
    opacity: 0;
    transition: var(--transition-speed);
    color: #eba134;
}

.nav-link:hover>.link-text {
    opacity: 1;
}

p  {
    transition: 2s;
    color: black;
}

i  {
    transition: 2s;
    color: black;
}

#alice-text:hover {
    color: var(--text-primary);
}

#alice-text:hover > i {
    color: #eba134;
}

.logo {
    text-align: center;
    background-color: var(--bg-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
    color:  #eba134;
    transition: var(--transition-speed);
}

.logo i {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.navbar:hover .logo i {
    transform: rotate(360deg);
    color:  #ebd4b3;
}

.navbar:hover .logo .nav-link {
    filter: grayscale(0%) opacity(1);
    color:  #ebd4b3;
}

.navbar:hover #logo-text {
    color:  #ebd4b3;
    opacity: 1;
}

.nav-link:hover #logo-icon {
    color:  #eba134;
}

.nav-link:hover #logo-text {
    color:  #eba134;
    opacity: 1;
}

@media only screen and (max-width: 600px) {

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0 auto;
        width: 300px;
    }

}

@media only screen and (min-width: 600px) {
    
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    main {
        margin: 0 auto;
        padding-left: 9rem;
        padding-right: 4rem;
        max-width: 720px;
        min-width: 400px;
    }

}